spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/footballmanager?user=footballmanager&password=secret
    driverClassName: org.postgresql.Driver
    initial-pool-size: 5
    maximum-pool-size: 15
  flyway:
    locations: classpath:db/migration
    enabled: true
    validate-on-migrate: true
    clean-on-validation-error: false
    check-location: true
    encoding: UTF-8
    sql-migration-prefix: V
    sql-migration-separator: __
    sql-migration-suffixes: .sql
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    generate-ddl: false
